name: Deploy to GitHub Pages

on:
  push:
    branches: [main] # Triggers the workflow on push to the main branch

permissions:
  contents: read
  pages: write
  id-token: write


jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Print
        run: echo "Checking out"
      - name: Checkout
        uses: actions/checkout@v4 # Use the checkout action to get your code
      - name: Print
        run: echo "Uploading artifact"

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3 # Uploads the static files
        with:
          path: './vanilla-portfolio' # Assumes your files are in the root directory
      - name: Print
        run: echo "Deploying to Github Pages"

      - name: Deploy to GitHub Pages
        if: ${{ !env.ACT }}
        id: deployment
        uses: actions/deploy-pages@v4 # The official GitHub Pages deployment action
